.container {
	margin:0 auto;
	width:900px;
}
.navbar {
	position:fixed;
}
h2 {
	font-family: 'IM Fell French Canon SC', serif;
}
h1 {
	font-family: 'IM Fell French Canon SC', serif;
}
#problemlink:hover {
	color:red;
}
.navbar li a:hover {
	color:red;
}
a:visited {
	color:green;
}
